.form-control:focus {
    box-shadow: none;
    border-color: #81c408
}

.profile-button {
    background: #81c408;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #81c408
}

.profile-button:focus {
    background: #81c408;
    box-shadow: none
}

.profile-button:active {
    background: #81c408;
    box-shadow: none
}

.back:hover {
    color: #81c408;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #81c408;
    color: #fff;
    cursor: pointer;
    border: solid 1px #81c408;
}